html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.3;
  margin: 0px;
  padding: 0px;
}

.main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(5, 7, 12, 0.2),rgba(5, 7, 12, 0.2)), 
  url(../sources/img-andrea/img-galley/andy.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.body-invite {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header--title {
  font-family: 'Sacramento', cursive;
  font-weight: 400;
  margin: 0;
  padding-top: 50px;
  letter-spacing: 0.08em;
  align-self: center;
  font-size: 96px;
  color: #fff;
}

.header--info {
  font-family: 'Inter', sans-serif;
  align-self: center;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 16px;
  color: #fff;
}

.player_btn {
  width: 60%;
  align-self: center;
  position: absolute;
  text-align: center;
  flex-direction: column;
  height: 70px;
  bottom: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;

  p {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    width: 100%;
    letter-spacing: 2px;
    margin: 0;
  }
}

.player_audio {
  visibility: hidden;
}

.hide {
  display: none;
}

.date {
  width: 100%;
  font-family: 'Inconsolata', monospace;
  font-weight: 600;
  position: absolute;
  bottom: 18%;
  height: 80px;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1.5px;
  text-align: center;
}

#cuenta {
  width: 100%;
  position: absolute;
  bottom: 15%;
  height: 80px;
  //background-color: #fff;
  display: flex;
  justify-content: center;
}

.simply-section {
  background: transparent;
  color: #fff;
  width: 70px;
  height: 70px;
  margin: 0 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simply-amount {
  font-family: 'Inconsolata', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
}

.simply-word {
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
  font-size: 16px;
}

.navigation {
  position: fixed;
  bottom: 3%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  align-self: center;
  border-radius: 20px;
  width: 90%;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  //box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5);

  .img {
    height: 34px;
    filter: invert(47%) sepia(93%) saturate(292%) hue-rotate(214deg) brightness(79%) contrast(94%);

    &:hover {
      filter: invert(21%) sepia(18%) saturate(6103%) hue-rotate(246deg) brightness(99%) contrast(95%);
      
    }
  }

  ul {
    display: flex;
    width: 100%;
  }

  .list {
    position: relative;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    z-index: 1;
  }

  a {
    padding: 9% 0 9% 0;
    text-decoration: none;
  }

  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      font-size: 14px;
      color: #551A8B;
    }
  }
}

.copy {
  width: 100%;
  font-family: 'Inter', sans-serif;
  height: 160px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  background-color: #041411f1;
  color: #fff;
  list-style: none;
  font-weight: 400;
  text-decoration: none;

  p {
    margin: 0;
    color: #84817a;
    font-weight: 300;
    letter-spacing: 1px;
  }
}


@media  screen and (min-width:800px) {

  .navigation {
    width: 50%;
  }

  .header--title {
    font-size: 120px;
  }

  .simply-section {
    width: 20%;
  }
}

@media  screen and (min-width:1200px) {
  .main {
    background: linear-gradient(rgba(5, 7, 12, 0.2),rgba(5, 7, 12, 0.2)), 
    url(../sources/img-andrea/img-galley/andy.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  #cuenta {
    justify-content: space-evenly;
    bottom: 16%;
  }

  .date {
    height: auto;
    bottom: 27%;
    letter-spacing: 3px;
  }

  .body-invite {
    display: flex;
    justify-content: center;
  }

  .navigation {
    width: 30%;
  }
}